{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no">
        <title>Logo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@600&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
              crossorigin="anonymous">

    </head>
    <body>
        <nav class="navbar navbar-light bg-light container">
            <a class="navbar-brand logo-top" href="{% url 'index' %}">
                <img src="{% static 'img/Logo.png' %}" width="60" height="60" class="d-inline-block align-top"
                     alt="" loading="lazy">
            </a>
            <div class="contact-top">
                <a class="whatsapp-number" href="https://web.whatsapp.com/"></a>
                <a class="telegram-number" href="https://t.me/"></a>
                <a class="phone-number text-dark" href="tel:+74957777777">
                <h6>+7(495)-777-77-77</h6></a>
            </div>
        </nav>

        {% block index %}
        {% endblock %}

        {% block thanks %}
        {% endblock %}

        <footer>
            <div class="container">
                <nav class="navbar navbar-light bg-light container">
                    <a class="navbar-brand logo-top" href="#">
                        <img src="{% static 'img/Logo.png' %}" width="60" height="60" class="d-inline-block align-top"
                             alt="" loading="lazy">
                    </a>
                    <div class="contact-top">
                        <a class="whatsapp-number" href="https://web.whatsapp.com/"></a>
                        <a class="telegram-number" href="https://t.me/"></a>
                        <a class="phone-number text-dark" href="tel:+74957777777">
                        <h6>+7(495)-777-77-77</h6></a>
                    </div>
                </nav>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
                integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
                crossorigin="anonymous"></script>
    </body>
</html>
